[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
*.snupkg
*.nuget
packages/

*.swp
*.DS_Store
*.sln.iml

.idea/

.vs/
*.DotSettings.user

bin/
obj/

*.sqlite

appsettings.Development.json
appsettings.json